<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'BowerBird', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <%= link_to "/", class: 'navbar-brand' do %>
        <i class="bi bi-image-fill"></i> Images
      <% end %>
      <%= link_to "/", class: 'navbar-brand' do %>
        <i class="bi bi-hash"></i>Tags
      <% end %>
    </div>
  </div>
</nav>