<div class="card shadow p-5">
  <div class="card-body">
    <h1 class="card-title">
      Tags
    </h1>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Tag</th>
            <th>Total Images</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td><%= tag.name %></td>
              <td><%= tag.image_tags_count %></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                  </button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "View", tag_path(tag), class: "dropdown-item" %></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
