<div class="card shadow p-5">
  <div class="card-body">
    <h1 class="card-title mb-3">
      Tags / <%= @tag.name %>
    </h1>

    <%= render partial: 'shared/search_form' %>

    <br>

    <%= render partial: 'images/image_list', locals: { images: @images } %>
  </div>
</div>

