.pagination {
  @extend .pagination;
  justify-content: center;

  .page-item {
    &.active {
      .page-link {
        background-color: #212529;
        border-color: #6c757d;
        color: white;
      }
    }

    .page-link {
      border-color: #6c757d;
      color: #212529;
    }
  }
}