<div class="card shadow p-5">
  <div class="card-body">
    <h1 class="card-title">
      Images
      <button type="button" class="btn btn-light rounded-circle" data-bs-toggle="modal" data-bs-target="#newImage">
        <i class="bi bi-plus-lg"></i>
      </button>
    </h1>

    <div class="tag-filters mb-3">
      <% @images.tags_with_count(with_total: true).each do |k, v| %>
        <%= link_to "#{k} (#{v})", images_path(tags: k), class: "btn btn-light rounded-pill" %>
      <% end %>
    </div>

    <%= render partial: 'shared/search_form' %>

    <br>

    <%= render partial: 'images/image_list', locals: { images: @images } %>
  </div>
</div>

<%= render partial: "images/form", locals: { image: Image.new } %>